@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; 
  background-color: var(--cream);
  max-width: 1440px;
}
.container-box {
  display: flex;
  align-items: center;
  justify-content: center;
margin-bottom: 10px;
}

.perfume-img-desktop {
    border-radius: 10px 0 0 10px;
    height: 350px;
    width: 250px;
    
}

.perfume-img-mobile {
    display: none;
}

.perfume-box {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    height: 350px;
    width: 250px;
    
    border-radius: 0 10px 10px 0;
  }

  .perfume-details {
    margin-left: 20px;
    margin-top: 10px;
  }

  .perfume {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .perfume-name {
    font-family: "Fraunces", serif;
    color: var(--very-dark-blue);
    width: 180px;
    margin-top: 10px;
    font-size: 25px;
  }
  .perfume-description {
    width: 200px;
    margin-top: 15px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    line-height: 20px;
  }

  .perfume-price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .perfume-main-price {
    font-size: 25px;
    font-family: "Fraunces", serif;
    color: var(--dark-cyan);
  }
  .perfume-discount-price {
    font-size: 12px;
    color: var(--dark-grayish-blue);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  
  .perfume-cart {
    background-color: var(--dark-cyan);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .perfume-cart:hover {
    background-color: rgb(26,64,49);
  }

  
  .perfume-cart img {
    /* width: 20px; */
    height: 20px;
    margin-right: 10px;
  }

/* attribution */


.attribution {
    font-size: 11px;
    text-align: center;
   
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }


  /* media queries for size 375 */

@media only screen and (max-width: 375px) {
    .container {
        /* display: flex;
        flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
  background-color: var(--cream);
        
        width: 100%;
    }

.container-box {
    flex-direction: column;
    width:95%;
}

.container-box-picture {
  width: 100%;
  height: 200px;
}

.container-box-picture img{
  border-radius: 10px 10px 0 0;
  width:100%;
  object-fit: cover;
  height: 100%;
}

  .perfume-box {
    background-color: var(--white);
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
  }

  .perfume-details {
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
  }

  .perfume {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .perfume-name {
    font-family: "Fraunces", serif;
    color: var(--very-dark-blue);
    width: 225px;
    margin-top: 10px;
    font-size: 25px;
  }
  .perfume-description {
    width: 250px;
    margin-top: 15px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    line-height: 20px;
  }

  .perfume-price-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .perfume-main-price {
    font-size: 25px;
    font-family: "Fraunces", serif;
    color: var(--dark-cyan);
  }
  .perfume-discount-price {
    font-size: 12px;
    color: var(--dark-grayish-blue);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  .perfume-cart {
    background-color: var(--dark-cyan);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
}
