@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --active-blue: hsl(245, 83%, 68%);
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --active-blue: hsl(245, 83%, 68%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./images/pattern-background-desktop.svg) repeat-x
    var(--pale-blue) fixed;

  font-family: "Red Hat Display", sans-serif;
}

p {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container img {
  width: 250px;
  border-radius: 10px 10px 0 0;
}

.order-box {
  background-color: white;
  /* background-color: var(--very-pale-blue); */
  width: 250px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-summary {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.order-summary h3 {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 20px;
}

.order-summary p {
  width: 200px;
  font-size: 10px;
  font-weight: 500;
  padding-top: 8px;
  text-align: center;
  color: var(--desaturated-blue);
  padding-bottom: 10px;
}

.order-plan {
  background-color: var(--very-pale-blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  padding: 10px 0px;
  border-radius: 5px;
  margin-bottom: 12px;
  opacity: background-color 0.5;
}

.music-icon {
  width: 30px;
}

.music-icon img {
  width: 100%;
  vertical-align: middle;
}

.annual,
.price {
  font-size: 12px;
  line-height: 17px;
}

.annual {
  font-weight: 700;
  color: var(--dark-blue);
}

.price {
  font-weight: 500;
  color: var(--desaturated-blue);
}

.change {
  font-size: 10px;
  margin-left: 40px;
  vertical-align: middle;
  color: var(--bright-blue);
  cursor: pointer;
  transition: color 0.15s, text-decoration 0.15s;
}

.change:active, .change:hover {
  text-decoration: none;
  color: var(--active-blue);
}

.payment {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  font-size: 11px;
  font-weight: 500;
  padding: 5px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s;

  box-shadow: 6px 8px 0px 0px #f5f7ff;
}

.payment:active, .payment:hover {
  background-color: var(--active-blue);
}
.cancel {
  font-size: 10px;
  font-weight: 700;
  /* padding: 5px 60px; */
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
  color: var(--desaturated-blue);
  transition: color 0.15s;
  margin: 20px 0;
 
}

.cancel:active, .cancel:hover{
  color: var(--dark-blue);
}

/* Attrition */

.attribution {
  font-size: 10px;
  text-align: center;
  /* width: 300px; */
}

.attribution a {
  color: hsl(228, 45%, 44%);
  /* width: 100%; */
}


/* Media queries */
@media only screen and (max-width: 375px) {
  body {
    background: url(./images/pattern-background-mobile.svg) repeat-x
    var(--pale-blue) fixed;

  }
}
